.sideBar {
    width: 15vw;
    min-height: 100vh;
    background-color: #003E46;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.orba {
    font-family: OCR A;
    padding-top: 4vh;
    font-size: x-large;
    color: whitesmoke;
    text-align: center;
    /* letter-spacing: 2px; */
}